<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h1>New GroceryListItem</h1>

      <form action="/groceryListItem/create" method="post">
        <div class="form-groceryListItem">
          <label for="title">Name</label>
          <input type="text" class="form-control" name="name" aria-describedby="titleHelp" placeholder="Enter Name" >
        </div>
        <div class="form-groceryListItem">
          <label for="title">GroceryListId</label>
          <input type="text" class="form-control" name="groceryListId" aria-describedby="titleHelp" placeholder="Enter Name" value="1">
        </div>
        <div class="form-groceryListItem">
          <label for="title">Budget</label>
          <input type="text" class="form-control" name="budget" aria-describedby="titleHelp" placeholder="Enter Name">
        </div>
        <div class="form-groceryListItem">
          <label for="title">Purchased</label>
          <input type="text" class="form-control" name="purchased" aria-describedby="titleHelp" placeholder="Enter Name">
        </div>
        <div class="form-groceryListItem">
          <label for="title">priority</label>
          <input type="text" class="form-control" name="priority" aria-describedby="titleHelp" placeholder="Enter Name">
        </div>
        <div class="form-groceryListItem">
          <label for="title">buyerid</label>
          <input type="text" class="form-control" name="userId" aria-describedby="titleHelp" placeholder="Enter Name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>


    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
