<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h1>Edit GroceryListItem</h1>

      <form action="/groceryListItem/update/<%= groceryListItem.id %>" method="post">
        <div class="form-groceryListItem">
          <label for="title"> GroceryListItem Name</label>
          <input value="<%= groceryListItem.groceryListItemName %>" type="text" class="form-control" name="groceryListItemName" aria-describedby="titleHelp" placeholder="Name">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
